# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo


# python
__pycache__

# vscode
.vscode

# confidential
tools/data/user.xlsx
tools/data/admin.xlsx
tools/data/fake_restore_player.tsv
tools/data/restore*.tsv
nginx-certbot/data/certbot

# internal public data for dev
public/public


###
venv


###
* 실루엣


### discord bot
discord-bot/node_modules
discord-bot/.env
discord-bot/nohup.out


###
logs
log
